sudo: required
language: c
before_install:
  - openssl aes-256-cbc -k "$super_secret_password" -in parameters.json.enc -out parameters.json -d
install:
  - sudo apt-get update
  - export PHP_VERSION=7.1.6
  - mkdir -p $TRAVIS_BUILD_DIR/dep
  - cd $TRAVIS_BUILD_DIR/dep
  - wget http://php.net/distributions/php-${PHP_VERSION}.tar.xz
  - tar xf php-${PHP_VERSION}.tar.xz
  - cd php-${PHP_VERSION}
  - ./configure --prefix=$TRAVIS_BUILD_DIR/dep/install-php-${PHP_VERSION} --enable-phpdbg
  - make 2>&1 > phpbuild.log
  - make install 2>&1 >> phpbuild.log
script:
  - ls
env:
  global:
    secure: a8A+jnalrjC3sNzkYyDcFfAwR+Pa8wfKsSCbNV0gaFaSpOhUDCtjyMM/u8kWNr8TosA2jGtn7lFB+fsFii6O+xL6SFTxqTHeJOaEOGUnhZGReFOhvAIx2hjkShPgsCFuxbgWWfFKt38k0vkR4RqoT8qrZCkonuDVHYIoP6WTXKBK+/2D5ZPz27/ZrvugY4K3DBRNj0eNecqVLDFpR466NMj/bNTnOPlr0K4+HxJh3nvJ18eIcUIo4UCXoAqxG2AnX5EbhJHC5ojQJoBNx29FqIT7AuyfG72QL7p5VdXU7utBfND9pILRi9qCi3EMokmFM8ANCRSMaqGdnE3fnEPhTknieQakogJzo2JhrlrLQYAVdz0M24H2q8Wnj7LK429fwmql0yWMTz4xMLPZNbuDzs7F6y1sID3kottBES2D6MGl8fu1Y6mGdgmkKGiTCo462PK/X8WcMlzL7QYGsnr8zMOa6Gy4AG5DkzSMpjvkjwZlOGyjcvOvjnFtcU+GNYNlCNJ2Ij9BTUEKOUBBN6CXMwI4eZME7ufNPPWLPz4QbvrA0oWVmbAzndb5WEUhEEQmigewRAkYJUVmi/4bDpg7jWCBtqaLs5Wg19Fzgjvd/CCHpZ5CJTzDUGfm1BgelyBpkX5fe9Y9dp7zymhz3p7bkyJCQBlLryH9RPL6PflZS5U=
